<div class="auth-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
    <h2>🔐 Login</h2>

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter your email" />

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter your password" />
    <label for="role">Register as</label>
    <select id="role" formControlName="role">
      <option value="Student">Student</option>
      <option value="Admin">Admin</option>
    </select>
    <div class="text-danger" *ngIf="loginForm.get('role')?.touched && loginForm.get('role')?.invalid">
      Please select a role.
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <p class="auth-footer">
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </form>
</div>
